{{#d-modal-body class="composer-audio-upload-modal" icon="microphone" dismissable=false}}
  <div class="composer-audio-upload-content">
    <h4>
      После записи нажмите "Загрузить" для отправки аудио
    </h4>
    <p>
      <button class="btn {{if isRecording 'btn-danger' 'btn-secondary'}}" type="button" {{action "startStopRecording"}} class="record-button" disabled={{disallowRecord}}>
        {{#if isRecording}}
        <span class="fa fa-stop-circle"></span> Остановить
        {{else}}
        <span class="fa fa-circle"></span> Начать запись
        {{/if}}
      </button>
      &nbsp;
      <button class="btn btn-secondary" type="button" {{action "startStopPlayback"}} class="play-button" disabled={{disallowPlayback}}>
        {{#if isPlaying}}
        <span class="fa fa-stop"></span> Остановить
        {{else}}
        <span class="fa fa-play"></span> Слушать запись 
        {{/if}}
      </button>
    </p>
    <p>
      {{#if isProcessing}}
      <span class="wait-text">Идет обработка аудио, пожалуйста, подождите...</span>
      {{else if isRecordingStart}}
      <span class="wait-text">Идет иницализация аудио...</span>
      {{else if isRecording}}
      Идет запись, говорите :-)
      {{else if hasRecording}}
      Длительность: <strong>{{recordingDuration}}</strong> ({{recordingSize}})
      {{else}}
      Еще ничего не записано
      {{/if}}
    </p>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="uploadFile" class='btn-primary' icon=uploadIcon label='upload' disabled=disallowUpload}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
